/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* Document
   ========================================================================== */
/**
 * Use a better box model (opinionated).
 */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* Grouping content
   ========================================================================== */
/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0;
}
/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline;
}
/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
}
html {
  font-size: 58%;
}
body {
  color: rgba(0, 0, 0, 0.86);
  font: 400 16px/1.42 -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  letter-spacing: 0.05em;
}
a {
  color: rgba(0, 0, 0, 0.98);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #006CFF;
}
body,
div,
a,
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}
.main .main-content {
  flex: 1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 24px;
}
.site-header {
  padding: 48px 0;
  text-align: center;
}
.site-header .site-title {
  font-size: 32px;
  font-weight: bold;
}
.site-header .site-description {
  font-size: 16px;
  padding: 24px;
  color: #495057;
  font-weight: lighter;
}
.site-header .menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.site-header .menu-container a.menu {
  font-size: 16px;
  padding: 8px 16px;
  flex-shrink: 0;
  font-weight: 600;
}
.site-header .avatar {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.site-header .social-container {
  padding: 16px;
  font-size: 18px;
}
.site-header .social-container a {
  margin: 4px 8px;
  color: #868e96;
}
@media (max-width: 600px) {
  .site-header {
    padding: 24px 0 0;
  }
  .site-header .avatar {
    width: 80px;
    height: 80px;
  }
}
.post-container {
  flex: 1;
}
.post-container .post {
  padding-bottom: 32px;
}
.post-container .post .post-title {
  font-size: 28px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-container .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-container .post .post-info > span {
  color: #5E5E5E;
}
.post-container .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-container .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-container .post .post-feature-image {
  display: block;
  width: 100%;
  padding-top: 32.6%;
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
}
.post-container .post .post-feature-image img {
  width: 100%;
}
.post-container .post .post-feature-image:hover {
  transform: scale(1.0082);
}
.post-container .post .post-abstract {
  padding: 24px 0;
  line-height: 1.5;
  font-size: 16px;
}
.post-container .post .post-abstract strong {
  font-weight: bolder;
}
.post-container .post .post-abstract a {
  color: #006CFF;
  transition: all 0.3s;
}
.post-container .post .post-abstract a:hover {
  color: #0061e6;
  border-bottom: 1px dotted #0061e6;
}
.post-container .post .post-abstract code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: initial;
  word-wrap: break-word;
  text-indent: 0;
}
.pagination-container {
  padding: 32px 16px;
  overflow: hidden;
}
.pagination-container .prev-page {
  float: left;
}
.pagination-container .next-page {
  float: right;
}
.pagination-container .prev-page,
.pagination-container .next-page {
  padding: 6px 12px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}
.pagination-container .prev-page:hover,
.pagination-container .next-page:hover {
  border-bottom: 2px solid;
}
@media (max-width: 600px) {
  .post-container .post {
    padding: 16px 16px;
  }
  .post-container .post .post-title {
    padding: 16px 0;
    font-size: 24px;
  }
  .post-container .post .post-abstract {
    padding: 16px 0;
  }
  .post-container .post .post-feature-image {
    padding-top: 56.25%;
  }
}
.post-detail {
  flex: 1;
}
.post-detail .post {
  padding: 24px 32px;
}
.post-detail .post .post-feature-image {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
  border-radius: 2px;
}
.post-detail .post .post-title {
  font-size: 32px;
  text-align: center;
  padding: 24px 0;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.post-detail .post .post-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 24px;
}
.post-detail .post .post-info > span {
  color: #5E5E5E;
}
.post-detail .post .post-info > span:not(:first-child):before {
  content: "/ ";
  font-size: 10px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}
.post-detail .post .post-info .post-tag {
  padding: 8px 8px;
}
.post-detail .post .post-content-wrapper {
  display: flex;
}
.post-detail .post .post-content {
  width: 100%;
  flex-shrink: 0;
  font-family: "Droid Serif", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
}
.post-detail .post .post-content a {
  color: rgba(0, 0, 0, 0.98);
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}
.post-detail .post .post-content a:hover {
  color: #0061e6;
  border-bottom: 1px solid #0061e6;
}
.post-detail .post .post-content img {
  display: block;
  box-shadow: 0 0 30px #eee;
  max-width: 100%;
  border-radius: 2px;
  margin: 24px auto;
}
.post-detail .post .post-content p {
  line-height: 1.62;
  margin-bottom: 1.12em;
  font-size: 16px;
  letter-spacing: 0.05em;
  hyphens: auto;
}
.post-detail .post .post-content p code,
.post-detail .post .post-content li code {
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  line-height: initial;
  word-wrap: break-word;
  border-radius: 0;
  background-color: #fff5f5;
  color: #c53030;
  padding: 0.2em 0.33333333em;
  margin-left: 0.125em;
  margin-right: 0.125em;
}
.post-detail .post .post-content pre {
  margin-bottom: 1.5rem;
  padding: 0;
  position: relative;
}
.post-detail .post .post-content pre code {
  font-size: 0.96em;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 1em;
  border-radius: 5px;
  line-height: 1.5;
}
.post-detail .post .post-content blockquote {
  color: #9a9a9a;
  position: relative;
  padding: 0.4em 0 0 2.2em;
  font-size: 0.96em;
}
.post-detail .post .post-content blockquote:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\201c";
  font: 700 62px/1 serif;
  color: rgba(0, 0, 0, 0.1);
}
.post-detail .post .post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.post-detail .post .post-content tr {
  border-top: 1px solid #dfe2e5;
}
.post-detail .post .post-content td,
.post-detail .post .post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.post-detail .post .post-content ul,
.post-detail .post .post-content ol {
  padding-left: 35px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-detail .post .post-content ul {
  list-style-type: square;
}
.post-detail .post .post-content h1,
.post-detail .post .post-content h2,
.post-detail .post .post-content h3,
.post-detail .post .post-content h4,
.post-detail .post .post-content h5,
.post-detail .post .post-content h6 {
  margin: 16px 0;
  font-weight: 700;
  padding-top: 16px;
}
.post-detail .post .post-content h1 {
  font-size: 1.8em;
}
.post-detail .post .post-content h2 {
  font-size: 1.42em;
}
.post-detail .post .post-content h3 {
  font-size: 1.17em;
}
.post-detail .post .post-content h4 {
  font-size: 1em;
}
.post-detail .post .post-content h5 {
  font-size: 1em;
}
.post-detail .post .post-content h6 {
  font-size: 1em;
  font-weight: 500;
}
.post-detail .post .post-content hr {
  display: block;
  border: 0;
  margin: 2.24em auto 2.86em;
}
.post-detail .post .post-content hr:before {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.1em;
  display: block;
  content: "* * *";
  text-align: center;
}
.post-detail .post .post-content mark {
  background: #faf089;
  color: #744210;
  padding: 0.2em;
}
.post-detail .post .post-content .footnotes {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 18px;
  padding-right: 18px;
}
.post-detail .post .post-content .footnotes:before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}
.post-detail .post .post-content .contains-task-list {
  list-style-type: none;
  padding-left: 30px;
}
.post-detail .post .post-content .task-list-item {
  position: relative;
}
.post-detail .post .post-content .task-list-item-checkbox {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 4px 0 0;
  top: -1px;
  left: -22px;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 0.2s ease;
}
.post-detail .post .post-content .task-list-item-checkbox:checked {
  transform: rotate(0);
}
.post-detail .post .post-content .task-list-item-checkbox:checked:before {
  border: transparent;
  background-color: #51cf66;
}
.post-detail .post .post-content .task-list-item-checkbox:checked:after {
  transform: rotate(-45deg) scale(1);
}
.post-detail .post .post-content .task-list-item-checkbox:checked + .task-list-item-label {
  color: #a0a0a0;
  text-decoration: line-through;
}
.post-detail .post .post-content .task-list-item-checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #9ae6b4;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.post-detail .post .post-content .task-list-item-checkbox:after {
  content: "";
  transform: rotate(-45deg) scale(0);
  width: 9px;
  height: 5px;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 4px;
  transition: all 0.2s ease;
}
.next-post {
  text-align: center;
  padding: 24px 32px;
}
.next-post .next {
  margin-bottom: 24px;
  color: #343a40;
  font-weight: lighter;
}
.next-post .post-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.02em;
}
#gitalk-container,
#disqus_thread {
  padding: 24px 32px;
}
.toc-container .markdownIt-TOC {
  position: sticky;
  top: 32px;
  width: 200px;
  font-size: 12px;
  list-style: none;
  padding-left: 0;
  padding: 16px 8px;
}
.toc-container .markdownIt-TOC:before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  bottom: 0;
  width: 1px;
  background-color: #ebedef;
  opacity: 0.5;
}
.toc-container ul {
  list-style: none;
}
.toc-container li {
  padding-left: 16px;
}
.toc-container li a {
  color: #868e96;
  padding: 4px;
  display: block;
  transition: all 0.3s;
}
.toc-container li a:hover {
  background: #fafafa;
}
.toc-container li a.current {
  color: #006CFF;
  background: #fafafa;
}
@media (max-width: 600px) {
  .post-detail .post {
    padding: 16px;
  }
  .post-detail .post .post-title {
    font-size: 24px;
    padding: 16px 0;
  }
}
@media (max-width: 1150px) {
  .toc-container {
    display: none;
  }
}
.archives-container {
  padding: 32px;
  flex: 1;
}
.archives-container .year {
  font-size: 1.375rem;
  font-weight: bold;
  margin: 24px 0 16px;
  color: #868e96;
  padding: 0 24px;
}
.archives-container .post {
  padding: 16px 24px;
  display: block;
}
.archives-container .post .post-title {
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.02em;
}
.archives-container .post .time {
  font-size: 0.75rem;
  margin-top: 8px;
  color: #ced4da;
}
@media (max-width: 600px) {
  .archives-container {
    padding: 16px;
  }
}
.tags-container {
  padding: 32px 32px;
  flex: 1;
  text-align: center;
}
.tags-container .tag {
  display: inline-block;
  padding: 8px 16px;
  margin: 8px;
  background: #f8f9fa;
  color: #495057;
  border-radius: 2px;
  font-size: 14px;
}
.tags-container .tag:hover {
  background: #e9ecef;
  color: #212529;
}
.current-tag-container .title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
}
.about-page {
  padding: 24px 32px;
}
.site-footer {
  font-size: 12px;
  text-align: center;
  padding: 40px 24px;
  color: #868e96;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rss {
  display: inline-flex;
  align-items: center;
  margin-left: 24px;
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f9f7f3;
}
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}
.hljs-string,
.hljs-doctag {
  color: #d14;
}
.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}
.hljs-subst {
  font-weight: normal;
}
.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}
.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}
.hljs-regexp,
.hljs-link {
  color: #009926;
}
.hljs-symbol,
.hljs-bullet {
  color: #990073;
}
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}
.hljs-meta {
  color: #999;
  font-weight: bold;
}
.hljs-deletion {
  background: #fdd;
}
.hljs-addition {
  background: #dfd;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}

      .post-container .post .post-title {
        text-align: center;
      }
      .post-container .post .post-info {
        text-align: center;
      }
      .post-detail .post .post-title {
        text-align: center;
      }
      .post-detail .post .post-info {
        text-align: center;
      }
    
      body {
        font-family: -apple-system,BlinkMacSystemFont,'Helvetica Neue','PingFang SC','Hiragino Sans GB','Droid Sans Fallback','Microsoft YaHei',sans-serif;
      }
    
      .stars {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 2px;
  box-shadow: -447px 387px #c4c4c4, -401px 118px #fafafa, -109px 217px #d9d9d9, -680px -436px #e3e3e3, 514px 360px #cccccc, -708px 298px #e8e8e8, -696px -270px #ededed, 116px -128px #f7f7f7, 179px 35px white, -404px -90px whitesmoke, -331px -309px #c4c4c4, -363px -24px #d1d1d1, 277px 416px #fafafa, -145px -244px whitesmoke, 123px 62px #d4d4d4, -407px 418px #d9d9d9, 535px 237px #d9d9d9, -466px -78px #f7f7f7, 257px 287px #dedede, 327px -398px #e0e0e0, -602px -38px #c2c2c2, 128px 398px #e6e6e6, 274px -446px #d1d1d1, -602px -298px #c7c7c7, 526px -5px #c4c4c4, -90px -158px #fcfcfc, 5px 294px whitesmoke, -633px 229px #c4c4c4, -475px 427px #dedede, 586px -453px #f2f2f2, 180px -432px #c7c7c7, -637px -88px #cfcfcf, -453px 308px #d6d6d6, -111px 1px #d9d9d9, 573px -450px #ededed, 198px 300px #d6d6d6, -355px 166px #dedede, -715px 13px #e3e3e3, 262px -104px #d1d1d1, 147px 325px #dbdbdb, 1px 399px #dbdbdb, 286px -100px white, 43px -329px #e8e8e8, 617px 55px #d9d9d9, -168px -392px #cccccc, 84px 219px #c9c9c9, 507px -226px #d9d9d9, -327px -70px #e6e6e6, 386px -212px #c4c4c4, -717px 4px #cfcfcf, 502px -231px #e3e3e3, 302px 56px #ededed, 649px 341px #c7c7c7, 569px 350px #c9c9c9, 516px -31px #e6e6e6, 689px 447px #c2c2c2, 591px -206px #fafafa, 422px -137px #e6e6e6, -510px -324px #cccccc, -649px 287px #c2c2c2, -194px -48px #f7f7f7, -279px -329px #d1d1d1, -406px 478px #dbdbdb, -735px -87px #c9c9c9, 30px -197px #dedede, -564px 233px #e6e6e6, -486px -324px #ededed, -54px -7px #ededed, -441px -194px #e3e3e3, -133px -95px #e0e0e0, -722px -73px #d6d6d6, 595px 423px #ededed, 568px -39px #ededed, 370px 377px #d1d1d1, -419px -102px #fcfcfc, -450px 109px #c4c4c4, -57px -119px #d1d1d1, -582px 150px #e6e6e6, 206px -263px #cfcfcf, 582px -461px #c9c9c9, -268px -141px #d9d9d9, -148px 291px #c7c7c7, 254px -179px #c9c9c9, 725px 424px #f0f0f0, 391px -150px #ebebeb, 89px -299px #d4d4d4, 170px 1px #c9c9c9, 243px 209px #c7c7c7, 27px 460px #c9c9c9, -465px -380px #d4d4d4, 530px -360px whitesmoke, -626px 53px #e0e0e0, 706px 218px #d9d9d9, 40px -82px #cccccc, -5px -212px #e6e6e6, -742px 33px #ebebeb, -714px 478px #e0e0e0, -585px -125px #cccccc, -216px 348px #cfcfcf, 601px 332px #ededed, 344px -88px #c4c4c4, 659px -22px #d1d1d1, -411px 188px #d6d6d6, -423px -206px #fcfcfc, -359px -136px #cfcfcf, 612px 406px whitesmoke, 725px 96px whitesmoke, 363px -446px white, -204px 325px #c9c9c9, 740px 176px #fafafa, -489px -352px white, -638px 64px #dbdbdb, 537px -65px #dbdbdb, 151px -32px #ebebeb, 681px 212px #fcfcfc, 604px -149px #e6e6e6, -542px -398px #c4c4c4, -707px 66px whitesmoke, -381px 258px #cfcfcf, -30px 332px #d6d6d6, 512px -381px #c9c9c9, 195px 288px #cccccc, -278px 479px #c7c7c7, 27px -208px #d6d6d6, -288px 15px white, -680px 248px #dedede, 433px 31px #c9c9c9, 150px -206px #d4d4d4, -79px 247px white, -594px 115px #e0e0e0, 99px 292px #e0e0e0, 673px -269px #dedede, -257px -64px #d1d1d1, 449px 81px #f2f2f2, 18px -99px #d1d1d1, -694px 415px #f7f7f7, 240px 264px #e0e0e0, 450px -172px white, 383px 7px #e8e8e8, 338px -73px #c9c9c9, 291px -19px #ebebeb, 659px 137px #d1d1d1, 602px -6px #fcfcfc, 554px 249px #ebebeb, 625px 356px #d9d9d9, 579px -183px #d6d6d6, -20px 250px white, -401px 431px #c4c4c4, -645px -232px #cccccc, -265px -148px white, 553px 258px #d1d1d1, 166px -360px #ebebeb, 719px 51px #ededed, 612px -129px #ebebeb, -465px -104px #f2f2f2, -154px -121px #d9d9d9, -1px 330px #f2f2f2, -666px 248px #f7f7f7, -720px 264px #ededed, 148px -365px #e6e6e6, -388px -349px #c4c4c4, 128px -88px #e3e3e3, -683px -274px #fafafa, -341px 41px #c9c9c9, -59px -471px #f0f0f0, -3px -427px #c2c2c2, 418px 167px #d6d6d6, 343px 247px #c7c7c7, 623px -347px #d1d1d1, 716px -217px white, 243px -409px whitesmoke, -75px -126px #d6d6d6, -730px -91px #c9c9c9, -210px -397px #cfcfcf, -349px 180px #c9c9c9, -567px -281px #e0e0e0, -460px 381px #fcfcfc, -310px -22px #ededed, 450px -1px #dbdbdb, -405px -328px #e3e3e3, 5px 332px #d6d6d6, -294px 302px #fcfcfc, -398px 97px whitesmoke, -696px 325px #cfcfcf, -589px 110px #d6d6d6, 353px -411px #dbdbdb, -697px -318px #ebebeb, -114px -72px #f0f0f0, 259px -193px #fcfcfc, 60px 26px #e6e6e6, -63px -232px white, 205px -372px #f7f7f7, -464px -333px #f2f2f2, -374px 123px white, -377px -386px #c7c7c7, -80px 337px #cccccc, 478px -178px #dbdbdb, 222px 420px #ebebeb, -707px 99px #c4c4c4, 716px -132px #fafafa, -253px -286px #e3e3e3, 646px 178px #f0f0f0, 201px 24px #d1d1d1, 178px -58px #c7c7c7, -557px 368px #ededed, 0px 219px #d9d9d9, -266px -269px #cccccc, 242px -197px #c9c9c9, -419px 193px #c2c2c2, -47px 91px #c7c7c7, -109px 75px #c2c2c2, -146px -453px #d6d6d6, 671px -350px #f2f2f2, 421px -91px #d9d9d9, 738px 19px #ededed, -316px -155px #dedede, 419px 244px #fcfcfc, -278px -418px #d6d6d6, -581px -181px #fcfcfc, 139px 264px #d9d9d9, 691px -11px #ebebeb, -622px 402px #c2c2c2, 219px 396px #f0f0f0, -149px -423px white, -716px -78px #d9d9d9, -590px 341px #e6e6e6, -208px 79px #d6d6d6, -227px -24px #f7f7f7, 239px 262px #d1d1d1, 740px 443px #f7f7f7, 509px 134px #d6d6d6, -555px 232px #e8e8e8, -67px -427px #cfcfcf, -368px 250px #f7f7f7, 715px -415px #fafafa, 411px -301px #f0f0f0, -322px 287px #d9d9d9, -429px -90px #f2f2f2, -327px -387px #f0f0f0, -491px 183px #c2c2c2, -133px 250px #d4d4d4, 538px 139px #e3e3e3, -417px -125px #f0f0f0, 653px -351px #e6e6e6, -549px 38px #d4d4d4, 602px 110px whitesmoke, 415px 105px #e0e0e0, -733px -371px #cfcfcf, 286px 403px #d4d4d4, 11px 320px #c4c4c4, -597px 158px whitesmoke, 716px -350px whitesmoke, 321px 67px #fafafa, -237px -300px #cfcfcf, 74px 152px #c9c9c9, 587px -123px #fcfcfc, 699px -332px whitesmoke, 399px 355px #f7f7f7, -323px 314px #dbdbdb, 89px 416px #c7c7c7, 445px 38px #e3e3e3, 572px 122px #c4c4c4, -258px 372px white, 49px 306px #d9d9d9, 437px -35px #dedede, 566px 174px #f2f2f2, 732px -299px whitesmoke, -410px 394px #ededed, 131px -415px white, 19px -326px #e8e8e8, -700px -188px #d1d1d1, 96px -1px #e0e0e0, -328px -396px #f0f0f0, -117px -214px #fcfcfc, -53px 261px #ebebeb, 80px 134px #d6d6d6, -364px -216px white, -636px -125px #dbdbdb, -639px -265px #e3e3e3, 208px 98px #c7c7c7, 172px 467px #e0e0e0, 435px 309px #e3e3e3, 194px -259px #f0f0f0, 209px -186px #c9c9c9, -312px 418px #fafafa, 229px 407px #c9c9c9, -449px -357px #fafafa, 674px 121px #e8e8e8, 608px -429px #ebebeb, -431px -428px #cfcfcf, 105px 462px #e3e3e3, -179px -372px #e3e3e3, 143px -317px #d6d6d6, -449px -149px #fafafa, -544px 250px #dedede, -220px -323px whitesmoke, 658px 8px whitesmoke, -656px -244px #e8e8e8, 347px 11px whitesmoke, 694px -230px #f7f7f7, -317px 1px #c4c4c4, 28px 23px #fcfcfc, -382px 321px #dbdbdb, 632px -74px #c4c4c4, 154px -245px #c2c2c2, -553px 337px #d6d6d6, -48px -243px #d1d1d1, 92px -391px #cccccc, -71px -256px #cfcfcf, -372px 57px #d9d9d9, 369px -140px #fcfcfc, 675px 81px #c2c2c2, -663px 254px #cccccc, 703px -203px #ededed, 74px -363px #c2c2c2, 643px -458px #d1d1d1, 198px 359px #cccccc, 265px 309px #d4d4d4, -353px -368px #e8e8e8, -465px 439px whitesmoke, 693px 360px #c9c9c9, 634px -397px #d1d1d1, 467px 25px whitesmoke, -558px -272px #e6e6e6, 671px 69px #dbdbdb, 407px 357px #cfcfcf, 379px 80px white, 10px -203px #c9c9c9, 104px -292px #f0f0f0, -667px -29px #d1d1d1, 557px -155px #e6e6e6, -505px 115px #cfcfcf, -605px 164px #f2f2f2, -108px -223px #e0e0e0, 523px -156px #ebebeb, 691px 230px white, -507px -13px #d1d1d1, -349px 332px #dedede, 520px 266px whitesmoke, -66px -250px #e6e6e6, -496px -449px #ebebeb, 414px -170px #dedede, -649px 230px #ebebeb, 598px -92px #c7c7c7, -638px 113px #c2c2c2, 151px 363px #f7f7f7, -445px -241px #f0f0f0, 527px -14px #dedede, 203px -61px #cfcfcf, -716px -284px #ebebeb, -525px 134px #c2c2c2;
  animation: fly 3s linear infinite;
  transform-style: preserve-3d;
}
    